.App {
  text-align: center;
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  /* background: #fdfdfd; */
}

/* Style when system in dark mode */
@media (prefers-color-scheme: dark) {
  .App {
    background-color: #121212;
    color: #fffffff7;
  }
  #radar {
    background-color: #121212;
    color: #fffffff7;
  }
  text {
    fill: #fffffff7;
  }
  html {
    background-color: #121212;
  }
  .boxModal {
    background-color: #121212;
  }
  .dialogBackground {
    background-color: #121212;
  }
}

/* Style when system in light mode */
@media (prefers-color-scheme: light) {
  .App {
    background-color: #ffffff;
    color: #000000;
  }
  #radar {
    background-color: #ffffff;
    color: #000000;
  }
  text {
    fill: #000000;
  }
  html {
    background-color: #ffffff;
  }
  .boxModal {
    background-color: #ffffff;
  }
  .dialogBackground {
    background-color: #ffffff;
  }
}

h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 90%;
  margin: 0 50px 0 50px;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}
